/.idea
/app/config/parameters.yml
/app/config/parameters_third_party.yml
/bower_components/*
/node_modules/*
/var/logs/*
/web/css/*
/web/js/*
/web/img/*
/web/fonts/*
/web/*.html
Thumbs.db
.*
_*
*~
*.log
!*.gitignore
!*.gitkeep
