div.form-group
    label.col-3.control-label(for='date')= 'Дата'
    div.col-3
        div.input-group
            div.input-group-addon
                i.fa.fa-fw.fa-calendar
            input.form-control#date(type='text' value='2015.08.30')