div.form-group
    label.col-3.control-label(for='date-range')= 'Диапазон дат'
    div.col-4
        div.input-group
            div.input-group-addon
                i.fa.fa-fw.fa-calendar
            input.form-control#date-range(type='text' value='2015.08.30 - 2015.08.30')