div.form-group
    label.col-3.control-label(for='email')= 'Электронная почта'
    div.col-3
        div.input-group
            div.input-group-addon
                i.fa.fa-fw.fa-envelope-o
            input.form-control#email(type='email' value='ivan@ivanov.ru')