div.form-group
    label.col-3.control-label(for='phone')= 'Телефон'
    div.col-3
        div.input-group
            div.input-group-addon
                i.fa.fa-fw.fa-phone
            input.form-control#phone(type='text' value='+7 (926) 123-45-67')