div.form-group
    label.col-3.control-label(for='input-width-1')= 'Текст разной ширины'
    div.col-1
        input.form-control#input-width-1(type='text' value='Съешь ещё этих мягких французских булок да выпей чаю.')
div.form-group
    div.col-2.col-offset-3
        input.form-control#input-width-2(type='text' value='Съешь ещё этих мягких французских булок да выпей чаю.')
div.form-group
    div.col-3.col-offset-3
        input.form-control#input-width-3(type='text' value='Съешь ещё этих мягких французских булок да выпей чаю.')
div.form-group
    div.col-4.col-offset-3
        input.form-control#input-width-4(type='text' value='Съешь ещё этих мягких французских булок да выпей чаю.')
div.form-group
    div.col-5.col-offset-3
        input.form-control#input-width-5(type='text' value='Съешь ещё этих мягких французских булок да выпей чаю.')
div.form-group
    div.col-6.col-offset-3
        input.form-control#input-width-6(type='text' value='Съешь ещё этих мягких французских булок да выпей чаю.')
div.form-group
    div.col-7.col-offset-3
        input.form-control#input-width-7(type='text' value='Съешь ещё этих мягких французских булок да выпей чаю.')
div.form-group
    div.col-8.col-offset-3
        input.form-control#input-width-8(type='text' value='Съешь ещё этих мягких французских булок да выпей чаю.')
div.form-group
    div.col-9.col-offset-3
        input.form-control#input-width-9(type='text' value='Съешь ещё этих мягких французских булок да выпей чаю.')