append styles
    link(rel='stylesheet' href='css/wysiwyg-example.css')

div.form-group
    label.col-3.control-label(for='wysiwyg')= 'HTML-код'
    div.col-9
        textarea.form-control#wysiwyg
            | <h1 style="margin-top: 0">Съешь ещё этих мягких французских булок да выпей чаю.</h1><p style="margin-bottom: 0">Съешь ещё этих мягких французских булок да выпей чаю.</p>