nav(class='navbar navbar-inverse navbar-fixed-top')
    div(class='container-fluid')
        div(class='navbar-header')
            a(class='navbar-brand' href='index.html')= 'Xcom-shop'
            ul(class='nav navbar-nav')
                li
                    a(href='http://xcom-shop.ru/')
                        | Перейти на&nbsp;сайт <i class="fa fa-external-link"></i>
            ul(class='nav navbar-nav navbar-right')
                li(class=navActive == 'articles' ? 'active' : undefined)
                    a(href='articles.html')= 'Статьи'
                li
                    a(href='javascript:void(0)')= 'Выход'