@import "core";
@import "vendor/awesome-bootstrap-checkbox";
@import "vendor/jgrowl";
@import "vendor/select2";
@import "vendor/daterangepicker";
@import "vendor/summernote";
@import "vendor/fine-uploader";
@import "vendor/image-picker";
@import "vendor/boostrap-treeview";
@import "pages/list";

// remove browser-sync banner
#__bs_notify__ {
    display: none !important;
}

html {
    min-height: 100%;
    min-width:  @container-width;
    height:     auto !important;
    height:     100%;
    position:   relative;
}

body {
    padding-bottom: (@footer-height + 20px);
}

#page-container {
    margin: 0 auto;
    width:  100%;

    > .navbar .row {
        > .col-2 {
            background-color: #682209;
            color:            white;
        }

        > .col-10 {
            .clearfix();

            padding-left:  (@main-column-padding - @nav-link-padding-horizontal);
            padding-right: (@main-column-padding - @nav-link-padding-horizontal);
        }
    }

    .row > .main {
        padding-left:  @main-column-padding;
        padding-right: @main-column-padding;

        .page-header {
            margin-top: 0;
        }
    }
}

.site-footer {
    background-color: @navbar-inverse-bg;
    border:           @navbar-border-width solid @navbar-border-color;
    border-radius:    @navbar-border-radius;
    bottom:           0;
    color:            @navbar-inverse-color;
    left:             0;
    height:           @footer-height;
    padding-bottom:   10px;
    padding-top:      10px;
    position:         absolute;
    right:            0;

    p {
        margin-top: 0;
    }

    .copyright {
        margin-bottom: 0;
        white-space:   nowrap;
    }
}

.sub-header {
    padding-bottom: 10px;
    border-bottom:  1px solid #eeeeee;
}

.navbar-fixed-top {
    border: 0;
}

.navbar-form {
    .form-control {
        margin-bottom: 0;
    }
}