@import "core";

@import "vendor/jgrowl";
@import "vendor/select2";
@import "vendor/daterangepicker";
@import "vendor/summernote";
@import "vendor/fine-uploader";

@import "pages/list";

// remove browser-sync banner
#__bs_notify__ {
    display: none !important;
}

body {
    padding-top: @navbar-height;
}

.navbar-brand {
    position: relative;

    .beta {
        font-size: 13px;
        display:   block;
        position:  absolute;
        right:     5px;
        top:       5px;
    }
}

.sub-header {
    padding-bottom: 10px;
    border-bottom:  1px solid #eee;
}

.navbar-fixed-top {
    border: 0;
}

.navbar-form {
    .form-control {
        margin-bottom: 0;
    }
}

.sidebar {
    background-color: #f5f5f5;
    border-right:     1px solid #eee;
    bottom:           0;
    left:             0;
    min-width:        195px;
    overflow-x:       hidden;
    overflow-y:       auto;
    position:         fixed;
    padding:          20px;
    right:            0;
    top:              (@navbar-height + @navbar-border-width);
    z-index:          1000;
}

.sidebar-nav {
    margin-right:  -21px;
    margin-bottom: 20px;
    margin-left:   -20px;

    > li {
        > a {
            font-size:     14px;
            font-weight:   bold;
            padding-right: 15px;
            padding-left:  15px;
        }
    }

    &,
    .active {
        > a {
            &,
            &:hover,
            &:focus {
                color:            #fff;
                background-color: #428bca;
            }
        }
    }

    ul {
        li {
            > a {
                font-size:      13px;
                padding-bottom: 5px;
                padding-left:   25px;
                padding-top:    5px;
            }
        }
    }
}

.main {
    padding: 20px 40px;

    .page-header {
        margin-top: 0;
    }
}