.page-list {
    .search-form {
        .daterange {
            text-align: center;
            width:      270px;
        }
    }

    .table {
        th {
            white-space: nowrap;
        }

        tr {
            cursor: pointer;
        }
    }
}