extends includes/layout

prepend title
    = 'Cheat sheet / '

append breadcrumb
    li(class='active')= 'Cheat sheet'

append content
    h1(class='page-header')= 'Таблицы'
    h1(class='page-header')= 'Формы'
