extends includes/layout

prepend title
    = 'Пример формы / '

append scripts
    script(src='js/form.js')

append breadcrumb
    li.active= 'Пример формы'

append content
    form.form-horizontal
        div.well.well-sm
            = 'Пример описания формы, объясняющего особенности её работы.'
        include includes/form/examples/required
        include includes/form/examples/help
        include includes/form/examples/success
        include includes/form/examples/error
        include includes/form/examples/warning
        include includes/form/widgets/text
        include includes/form/widgets/textarea
        include includes/form/widgets/select2
        include includes/form/widgets/checkbox
        include includes/form/widgets/radio
        include includes/form/widgets/phone
        include includes/form/widgets/email
        include includes/form/widgets/date
        include includes/form/widgets/date-time
        include includes/form/widgets/date-range
        include includes/form/widgets/date-time-range
        include includes/form/widgets/wysiwyg
        include includes/form/widgets/file
        include includes/form/widgets/files
        include includes/form/widgets/image
        include includes/form/widgets/images
        include includes/form/widgets/image-picker
        include includes/form/widgets/images-picker
        div.form-group.form-actions
            div.col-9.col-offset-3
                button.btn.btn-primary(type='submit')= 'Сохранить'
                button.btn.btn-default(type='cancel')= 'Отменить'
