extends includes/layout

block breadcrumb-wrap
    ol.breadcrumb
        block breadcrumb
            li
                a(href='http://xcom-shop.ru/')
                    i.fa.fa-home
            li.active= 'Панель администратора'

append content
    h1.page-header= 'Панель администратора'