extends includes/layout

prepend title
    = 'Пример дерева / '

append scripts
    script(src='js/tree.js')

append breadcrumb
    li.active= 'Пример дерева'

append content
    div#treeview