div.form-group
    label.col-3.control-label(for='help')= 'Поле с подсказкой'
    div.col-5
        input.form-control#help(type='text' value='Съешь ещё этих мягких французских булок да выпей чаю.')
        span.help-block= 'Пример подсказки.'