div.form-group.required
    label.col-3.control-label(for='required')= 'Обязательное поле'
    div.col-5
        input.form-control#required(type='text' value='Съешь ещё этих мягких французских булок да выпей чаю.')