div.form-group.has-success
    label.col-3.control-label(for='success')= 'Успех валидации'
    div.col-5
        input.form-control#success(type='text' value='Съешь ещё этих мягких французских булок да выпей чаю.')