doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title
            block title
                = 'Панель администратора / Интернет-магазин компьютеров и компьютерных комплектующих XCOM-SHOP'
        link(rel='icon' href='favicon.ico')
        block styles
        <!--[if lt IE 9]>
        script(src='//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
        script(src='//oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->
    body
        <!--[if lt IE 8]>
        div(class='alert alert-danger browserupgrade')
            | Вы используете <strong>устаревший</strong> браузер. Пожалуйста, <a href="http://outdatedbrowser.com/ru" target="_blank" class="alert-link">обновите браузер</a> для нормальной работы сайта.'
        <![endif]-->
        block body
        block scripts