block breadcrumb-wrap
    ol.breadcrumb
        block breadcrumb
            li
                a(href='http://xcom-shop.ru/')
                    i.fa.fa-home
            li
                a(href='index.html')= 'Панель администратора'