nav.navbar.navbar-inverse.navbar-fixed-top
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href='index.html')
                = 'Xcom-shop '
                span.beta &beta;
            ul.nav.navbar-nav
                li
                    a(href='http://xcom-shop.ru/' target='_blank')
                        = 'Перейти на сайт '
                        i.fa.fa-external-link
            include navbar