nav(class='navbar navbar-inverse navbar-fixed-top')
    div(class='container-fluid')
        div(class='navbar-header')
            a(class='navbar-brand' href='index.html')
                = 'Xcom-shop '
                span(class='beta') &beta;
            ul(class='nav navbar-nav')
                li
                    a(href='http://xcom-shop.ru/' target='_blank')
                        | Перейти на&nbsp;сайт <i class="fa fa-external-link"></i>
            include navbar