extends base

append styles
    link(rel='stylesheet' href='css/app.css')

append scripts
    script(src='js/app.js')

append body
    include header
    div(class='container-fluid')
        div(class='row')
            div(class='col-2 sidebar')
                include sidebar
            div(class='col-10 col-offset-2 main')
                include breadcrumb
                block content