ul.nav.sidebar-nav
    each item in sidebarItems
        if item != sidebarItems[0]
            li.nav-divider
        li(class=item.path == sidebarActive ? 'active' : undefined)
            a(href=item.path)!= item.name
            if item.childs && item.childs.length > 0
                ul.nav
                    each child in item.childs
                        li(class=child.path == sidebarActive ? 'active' : undefined)
                            a(href=child.path)!= child.name